#home-main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
}

#home-left-section {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  width: calc(100% - 16rem);
}

#home-left-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

#home-left-decription {
  font-size: 1rem;
  margin-bottom: 0.75rem;
  max-width: 80%;
}

#profile-image {
  width: 15rem;
  height: 15rem;
  /* animation: image-border infinite 10s; */
  border-radius: 50% 50%;
}

#linkedin-icon {
  margin-right: 0.5rem;
}

#tech-stack-text {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

#skill-conatiner {
  min-width: 60%;
  align-self: center;
}

.skill-list-2 {
  margin-top: 4rem !important;
}

@media screen and (max-width: 992px) {
  #skill-conatiner {
    min-width: 80%;
    align-self: center;
  }
}

#skills {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.skill-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-text {
  margin-top: 0.5rem;
}

#toggle-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
#toggle-button-text {
  margin-top: 1rem;
  color: var(--blue);
  cursor: pointer;
}
#toggle-button-text:hover {
  color: var(--dark-blue);
}

@keyframes image-border {
  0% {
    border-radius: 60% 30% 70% 40%/ 30% 50% 60% 40%;
  }
  33% {
    border-radius: 40% 70% 70% 40%/ 60% 50% 60% 80%;
  }
  66% {
    border-radius: 30% 50% 60% 40%/ 20% 50% 40% 60%;
  }
  100% {
    border-radius: 60% 30% 70% 40%/ 30% 50% 60% 40%;
  }
}

.secondary-skill-logo {
  height: 3rem;
  width: 3rem;
}
@media screen and (max-width: 767px) {
  .primary-skill-logo {
    height: 2.5rem;
    width: 2.5rem;
  }
  .secondary-skill-logo {
    height: 2.5rem;
    width: 2.5rem;
  }
}
@media screen and (max-width: 667px) {
  #home-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  #home-left-section {
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
    margin-right: 0;
  }
  #home-left-decription {
    max-width: 100%;
  }
}

@media screen and (max-width: 479px) {
  #profile-image {
    width: 12.5rem;
    height: 12.5rem;
  }
  #home-left-section {
    text-align: start;
  }
  /* start of phone styles */
}
